.contener .intro  {
  text-align: center;
  background-color: white;
}


.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: auto%;
  padding: auto;

}
.img-fluid {
  max-width: 100%;
  height: 100 %;
}
.text-center{
  background-color: black;
}
.intro .btn {
  background-color: #1ac139;
  border-color: #1ac139;
  padding: 8px 36px;
  border-radius: 30px;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
}
.title {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}
  