.contener {
  text-align: center;
}


.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: auto%;
  padding: auto;

}
.img-fluid {
  max-width: 100%;
  height: 100 %;
}
.text-center{
  background-color: black;
}
  